@import "../styles/mixins/colors.scss";

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  margin-top: 20vh;
}

.content {
  h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 50px;
    color: $thirdy-color;
  }

  p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: $seccondary-color;
    opacity: 0.7;
    
  }
}

.imageContainer {
  display: flex;
}

.personalImage {
  width: 25vw;
  height:60vh;
  margin-left: 13rem;
}
